<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>서울또봇고 T.F Lab</title>
    <link href="/file/css/main.css" rel="stylesheet">
    <link href="/file/css/mainmenu.css" rel="stylesheet">
</head>
<body>
    <div class="center">
        <div class="title">
            <h1>서울또봇고</h1>
            <h3>made by T.F Lab</h3>
        </div>
    </div>

    <form name="loginForm2" id="loginForm2" autocomplete="off" method="post" onsubmit="return false;">
        <input type="text" id="userId" name="userId" class="i_text" value="" title="아이디 입력" placeholder="아이디">
        <input type="password" id="password" name="password" class="i_text" value="" title="비밀번호 입력" placeholder="비밀번호">
    </form>
    <button onclick="login();">로그인</button>
    <script src="/file/js/login.js"></script>
</body>
</html>