<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <title>서울또봇고 T.F Lab</title>
        <link href="/file/css/main.css" rel="stylesheet">
        <link href="/file/css/mainmenu.css" rel="stylesheet">
    </head>
    <body>
        <div class="center">
            <div class="title">
                <h1>서울또봇고</h1>
                <h3>made by T.F Lab</h3>
            </div>
        </div>
        <div class="item" id="meal">
            <h3>급식</h3>
            <div class="item2">
                <h3>아침</h3>
                <hr>
                <div id="morning"></div>
            </div>
            <div class="item2">
                <h3>점심</h3>
                <hr>
                <div id="lunch"></div>
            </div>
            <div class="item2">
                <h3>저녁</h3>
                <hr>
                <div id="dinner"></div>
            </div>
            <div class="center">
                <div class="control">
                    <button onclick="mealDateMinus();"><</button>
                    <p id="meal_control_p">----/--/--</p>
                    <button onclick="mealDatePlus();">></button>
                </div>
            </div>
        </div>

        <div class="item" id="class">
            <h3>오늘의 시간표</h3>
            <select id="grade_">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <p id="d">학년</p>
            <select id="class_">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <p id="d">반</p>
            <button onclick="loadSchedule();">갱신</button>
            <div id="class_item">

            </div>
        </div>

        <div class="item" id="ad">
            <h3>홈페이지 전체 기능 해금</h3>
            <hr>
            <ul>
                <li>모든 정답지 및 시험지 보기 (현재부터 5년전까지)</li>
                <li>로봇고 홈페이지 전체기능 사용하기</li>
            </ul>
            <p>홈페이지의 모든 기능을 사용할려면 아래링크에서 서울또봇고 앱을 다운받아 주세요!</p>
            <p class="small_p">Only Android (Galaxy, Lg, etc..)</p>
            <button class="goto_github" onclick="location.href='https://github.com/seon0313/SRH_Next_Gen_WebSite';">GitHub에서 보기</button>
            <div class="center">
                <button class="download">GitHub에서 다운로드</button>
            </div>

        </div>
        <script src="/file/js/loadDate.js"></script>
        <script src="/file/js/loadMeal.js"></script>
        <script src="/file/js/loadSchedule.js"></script>
        <script>
            window.onload=function(e) {
                loadMeal();
                loadSchedule();
            };
        </script>
    </body>
</html>